body {
    background: linear-gradient(to bottom, gray, wheat, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font: normal 15pt, Arial;
}

header {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #888;
    font-weight: bold;
    letter-spacing: 2px;
}


section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575)
}

div {
    text-align: center;
    padding: 8px
}

footer {
    text-align: center;
    font-style: italic;
    text-shadow: 5px 3px 15px white;
}